.mrt-label {
    margin: 10px 0;
}
textarea {
    resize: none;
}
.mrt-checkbox {
    display: flex;
    margin: 10px 0;
}
.mrt-checkbox input {
    margin: 2px 4px 0 0;
    cursor: pointer;
}
.mrt-checkbox label {
    cursor: pointer;
    user-select: none;
}
