body {
    --mrt-border-color: rgba(100, 100, 100, .22);
}
.vscode-dark {
    --mrt-border-color: rgba(128, 128, 128, .40);
}

.mrt-wrap.hidden {
    display: none;
}
.mrt-wrap .mrt-form {
    display: block;
}
.mrt-wrap .mrt-tips {
    display: none;
}
.mrt-wrap.show-tips .mrt-form {
    display: none;
}
.mrt-wrap.show-tips .mrt-tips {
    display: block;
}
.mrt-tips p {
    margin-top: 10px;
    line-height: 1.4em;
    color: var(--vscode-editor-foreground);
}
.mrt-tips button {
    margin-top: 10px;
} 

.mrt-label {
    margin: 10px 0;
    color: var(--vscode-descriptionForeground);
}
textarea {
    resize: none;
}
.mrt-assignee-id {
    display: inline-block;
    height: 0;
    border: 0;
    opacity: 0;
    padding: 0 !important;
    position: absolute;
}
.mrt-user-select {
    position: relative;
}
.mrt-assignee-name {
    height: 18px;
    box-sizing: content-box;
    line-height: 18px;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
}
.mrt-user-select .user-wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: 6px;
    overflow: hidden;
    transition: 0.3s;
    background-color: var(--vscode-input-background);
}
.mrt-user-select .list {
    flex: 1;
    position: relative;
}
.mrt-keyword-inp {
    margin: 6px;
    width: auto !important;
}
.mrt-user-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    line-height: 2;
    list-style: none;
    overflow: auto;
}
.mrt-user-select.show .user-wrap {
    height: 170px;
}
.mrt-user-item {
    display: flex;
    line-height: 1.4;
    padding: 4px 6px;
    flex-wrap: wrap;
    margin: 0 4px;
    cursor: pointer;
}
.mrt-user-item:hover {
    background: var(--vscode-list-hoverBackground);
}
.mrt-user-list .name {
    margin-right: 6px;
}
.mrt-user-list .username {
    opacity: 0.5;
}
.mrt-user-select .empty {
    display: none;
    line-height: 2;
    color: var(--vscode-descriptionForeground);
    text-align: center;
}
.mrt-user-select .empty.show {
    display: block;
}
.mrt-checkbox {
    display: flex;
    margin: 10px 0;
}
.mrt-checkbox input {
    margin: 2px 4px 0 0;
    cursor: pointer;
}
.mrt-checkbox label {
    cursor: pointer;
    user-select: none;
    color: var(--vscode-descriptionForeground);
}
.mrt-btn {
    margin-bottom: 30px;
}

.mrt-repo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--mrt-border-color);
}
.mrt-repo-name {
    padding: 7px 4px;
    margin: 0 6px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vscode-tab-inactiveForeground);
    cursor: pointer;
}
.mrt-repo-name.active {
    border-bottom: 2.5px solid var(--vscode-button-background);
    color: var(--vscode-tab-activeForeground);
}